.main{}

.top-bar{
    background-color: aqua;
    height: 5px;
    border: none;
}

.head::after{
    content: " ";
    clear: both;
    display: table;
}

.logo{
    width: fit-content;
    float: left;
    margin-top: 0px;
    padding-top: 0px;
}

.logo p{
    margin-top: 0px;
    font-size: 10px;
}

.logo h2{
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    float: right;
    margin-top: 30px;
}

.menu a{
    margin-right: 10px;
}

.section1{
    margin-top: 20px;
    display: flex;
}

.image img{
    max-width: 400px;
    max-height: 400px;
}

.section1content h1{
    margin-top: 50px;
    margin-bottom: 0px;
}

.section1content p{
    margin-top: 10px;
}

.quote{
    font-size: 25px;
    text-align: center;
    font-style: italic;
}

.section1content button{
    margin-top: 5px;
    background-color: aqua;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
}

.section2{
    display: flex;
    gap: 20px;
}

.card2{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card2 img{
    width: auto;
    max-width: 750px;
    height: auto;
}

.card2 h3{
    margin-bottom: 0px;
    margin-top: 25px;
}

.card2 button{
    width: fit-content;
    background-color: aqua;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
}

.section3{
    margin-bottom: 10px;
}

.cards31{
    display: flex;
    gap: 10px;
}

.cards32{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.card3{
    width: auto;
    display: flex;
}

.card3 img{
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    border: 1px black solid;
    padding: 2px;
}

.content3{
    float: right;
    margin-left: 10px;
    margin-top: 0%;
}

.content3 h3{
    margin-bottom: 0px;
    margin-top: 0%;
}

footer{
    display: flex;
    background-color: #232222;
    color: white;
    justify-content: space-between;
    gap: 20px;
}

.foot{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.foot p{
    margin-top: 0;
    margin-bottom: 2px;
}

.mail span{
    color: aqua;
}

.foot a{
    color: aqua;
}

.foot hr{
    border: 1px gray solid;
    width: 100%;
}

.foot h3{
    margin-bottom: 0px;
}

.blog{
    text-align: right;
    color: aqua;
}

.foot input{
    background-color: gray;
}

.foot input::placeholder{
    color: black;
}

.foot button{
    width: fit-content;
    padding: 5px 15px;
    margin-top: 5px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.copyright{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
}

.copyright p{
    margin-left: 15px;
    margin-right: 15px;
}
